# 2 2020 SIN176 A
# PROGRAMAÇÃO DE COMPUTADORES PARA GESTÃO DA INFORMAÇÃO
## AT9 - Bancos de dados - _Deadline_: 30/06/2021 - 23:00
---
### Instruções
Este Jupyter Notebook apresenta **5 questões** que enunciam problemas. As respostas deverão ser trechos de **código Python** que solucionem as situações enunciadas e que seja possível verificar se tais soluções foram atendidas. Imprimam na tela os resultados.

Cada questão vale **20 pontos**, com a avaliação total limitada a **100 pontos**.

As respostas devem ser escritas **diretamente neste Jupyter Notebook**, que deverá ser enviado em resposta à atividade no Moodle. Sempre que for necessário anexar mais arquivos junto da resposta, faça-o de maneira clara e explique. O programa precisa funcionar e vocês precisam prover a 'infraestrutura' para que ele funcione.

### Apresentando o LiteFlix!!!
Cada uma das questões representará uma etapa na criação do banco de dados para gerenciamento de uma pequena _start-up_ de
serviço de _streaming_ chamada **LiteFlix**.

À medida que as questões vão sendo resolvidas, o banco de dados dessa _start-up_ ficará mais e mais completo. Ao final
será possível consultar o banco de dados para ter algumas informação de consumo dos clientes.

**DICA QUENTE**: não deixe de revisar os resultados de cada resposta com o [DB Browser for SQLite](https://sqlitebrowser.org/).
Ele permitirá que o arquivo de banco de dados seja aberto e que as tabelas criadas sejam inspecionadas de forma a
confirmar os resultados esperados.

**LEMBRETE**: Se você tentar excluir o arquivo de banco de dados e o sistema operacional não deixar, pode ser que o
mesmo ainda esteja aberto pelo DB Browser ou pelo Jupyter Notebook. No primeiro caso, basta fechar o arquivo. Já no
segundo, execute um método `close()` na conexão em alguma célula para fechar o arquivo.

**Boa atividade para tod@s!!!***

---

### Questão 1
Proceda com a criação de um pequeno banco de dados que representa uma empresa de serviço de _streaming_.
1. O texto dos comandos SQL a serem executados **já estão presentes na célula a seguir** e não deverão ser alterados.
2. A execução deverá **ocorrer na exata ordem** em que os comados aparecem no texto da célula a seguir.
3. O caminho e nome do arquivo SQLite a ser criado também **já está definido na célula a seguir** e não deverá ser alterado.

O objetivo da questão é **exclusivamente** criar o arquivo SQLite e as tabelas correspondentes aos comandos colocados a seguir.

**ATENÇÃO:** Se a questão estiver corretamente respondida, o arquivo SQLite `liteflix.db` deverá passar a existir (será criado) na **mesma pasta** deste Jupyter Notebook e deverá conter as tabelas correspondentes aos comandos.

In [1]:
# Estas são as sentenças de criação e NÃO deverão ser alteradas
#chamando o sqlite3
import sqlite3 as sql

sql_create_situacao = '''
CREATE TABLE IF NOT EXISTS situacao (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
descricao TEXT(128) NOT NULL,
bloqueado INTEGER NOT NULL,
UNIQUE (descricao)
)
'''

sql_create_cliente = '''
CREATE TABLE IF NOT EXISTS cliente (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
nome TEXT(128) NOT NULL,
cpf TEXT(11) NOT NULL,
id_situacao INTEGER NOT NULL,
UNIQUE(cpf),
FOREIGN KEY(id_situacao) REFERENCES situacao(id)
)
'''
sql_create_conteudo = '''
CREATE TABLE IF NOT EXISTS conteudo (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
titulo TEXT(128) NOT NULL
)
'''
sql_create_classificacao_indicativa = '''
CREATE TABLE IF NOT EXISTS classificacao_indicativa (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
descricao TEXT(128) NOT NULL,
idade INTEGER NOT NULL,
UNIQUE (descricao)
)
'''
sql_create_genero = '''
CREATE TABLE IF NOT EXISTS genero (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
descricao TEXT(64) NOT NULL,
id_classificacao_indicativa NUMBER NOT NULL,
UNIQUE(descricao),
FOREIGN KEY(id_classificacao_indicativa) REFERENCES classificacao_indicativa(id)
)
'''
sql_create_conteudo_genero = '''
CREATE TABLE IF NOT EXISTS conteudo_genero (
id_conteudo INTEGER NOT NULL,
id_genero INTEGER NOT NULL,
PRIMARY KEY(id_conteudo,id_genero),
FOREIGN KEY(id_conteudo) REFERENCES conteudo(id),
FOREIGN KEY(id_genero) REFERENCES genero(id)
)
'''
sql_create_cliente_conteudo = '''
CREATE TABLE IF NOT EXISTS cliente_conteudo (
id_cliente INTEGER NOT NULL,
id_conteudo INTEGER NOT NULL,
data_consumo TEXT NOT NULL,
concluiu INTEGER NOT NULL,
avaliacao INTEGER,
PRIMARY KEY(id_cliente,id_conteudo),
FOREIGN KEY(id_cliente) REFERENCES cliente(id),
FOREIGN KEY(id_conteudo) REFERENCES conteudo(id)
)
'''

# Esta é a variável a ser usada como nome do arquivo de banco de dados SQLite e NÃO deverá ser alterado
liteflix_bd = 'liteflix.db'

# Escreva sua resposta da Questão 1 NESTA célula, nas linhas abaixo

#criando conexão com arquivo
con = sql.connect(liteflix_bd)
# criando cursor para percorrer o arquivo
cur = con.cursor() 
# Executando tabelas criadas
cur.execute(sql_create_situacao) 
cur.execute(sql_create_cliente) 
cur.execute(sql_create_conteudo)
cur.execute(sql_create_classificacao_indicativa)
cur.execute(sql_create_genero)
cur.execute(sql_create_conteudo_genero)
cur.execute(sql_create_cliente_conteudo)
#Mostra a tabela criada
print('tabelas criadas dentro do arquivo Liteflix')
#fechando BD
con.close()

Arquivo liteflix criando com as respectivas tabelas solicitadas

### Questão 2
Preencha as tabelas `situacao` e `classificacao_indicativa` do banco de dados `liteflix.db` com as tuplas pertinentes já  colocadas na célula seguinte, utilizando os comandos pertinentes também já presentes na célula seguinte.
1. Dica. Não 'confie' no seu comando. Insira prints para que você confirme se as entradas foram efetivadas (e para que nós também possamos verificar com mais facilidade.

In [2]:
import sqlite3 as sql#importanto ferrantas do sqlite3
# Estas são as tuplas a serem inseridas

# Tuplas da tabela situacao
situacoes = [
    ('Ativo', 0),
    ('Inadimplente', 0),
    ('Bloqueado', 1),
    ('Terminado', 1),
]

# Tuplas da tabela classificacao_indicativa
classificacoes_indicativas = [
    ('Livre', 0),
    ('Censura 12 anos', 10),
    ('Censura 14 anos', 14),
    ('Censura 16 anos', 16),
    ('Adulto', 18),
]
# Escreva sua resposta da Questão 2 NESTA célula, nas linhas abaixo

# Esta é a sentença de inclusão de uma tupla na tabela situacao
sql_insert_situacao = 'INSERT INTO situacao VALUES (NULL, ?, ?)'

# Esta é a sentença de inclusão de uma tupla na tabela classificacao_indicativa
sql_insert_classificacao_indicativa = 'INSERT INTO classificacao_indicativa VALUES (NULL, ?, ?)'

#variável a ser usada como nome do arquivo de banco de dados
liteflix_bd = 'liteflix.db'

#criando conexão com arquivo liteflix
con = sql.connect(liteflix_bd)
# criando cursor para percorrer o arquivo
cur = con.cursor()
# Percorrendo cada  registro(i) no conjunto de registros(situaçoes)
for i in situacoes: 
    # Executa o sql insert, passando como parametro o registro(i)
    cur.execute(sql_insert_situacao, i) 
print('Registros inseridos na tabela Situação')

for i in classificacoes_indicativas: 
    cur.execute(sql_insert_classificacao_indicativa,i) 
print('Registros inseridos na tabela Classificação Indicativa')
# gravando os registros inseridos
con.commit()

#fechando BD
con.close()

Registros inseridos na tabela Situação
Registros inseridos na tabela Classificação Indicativa

### Questão 3
Preencha as tabelas `genero` e `conteudo` do banco de dados `liteflix.bd` a partir da lista de gêneros colocada na célula seguinte, utilizando os comandos também colocados na célula seguinte.

Para a tabela `conteudo`, deve-se perceber que cada item pode ter mais de um gênero associado. Neste caso, a tupla fornecida
**NÃO** poderá ser utilizada diretamente nos comandos, pois não seria compatível com a estrutura da tabela como está
definido. É necessário primeiramente inserir o conteúdo e em seguida os seus gêneros associados.

**DICA QUENTE**: para recuperar o **Id** gerado por um comando `INSERT` deve-se usar o **atributo** [lastrowid](https://www.python.org/dev/peps/pep-0249/#lastrowid) do _cursor_ utilizado para a execução **logo após** a execução do
comando `INSERT`. Este atributo retornará o valor gerado para a chave primária do registro inserido, a ser utilizado para formar a tupla para inserir na tabela `conteudo_genero` logo em seguida.

In [3]:
# Estes são gêneros e conteúdos a serem inseridos
generos = [
    ('Infantil', 'Livre'),
    ('Família', 'Livre'),
    ('Aventura família', 'Livre'),
    ('Aventura adolescente', 'Censura 14 anos'),
    ('Ação adolescente', 'Censura 16 anos'),
    ('Ação pesada', 'Adulto'),
    ('Horror', 'Adulto'),
    ('Ficção científica', 'Censura 14 anos'),
    ('Ficção científica adulto', 'Adulto'),
    ('Mistério', 'Censura 16 anos'),
]

conteudos = [
    ('Invocação do mal 3', ['Horror']),
    ('Lupin', ['Mistério', 'Aventura adolescente']),
    ('Liga da Justiça', ['Ação adolescente', 'Ficção científica']),
    ('O primeiro homem', ['Família', 'Ficção científica']),
]

# Esta é a sentença de inclusão de uma tupla na tabela genero
sql_insert_genero = '''
INSERT INTO genero VALUES (
NULL, ?,
(SELECT id FROM classificacao_indicativa WHERE descricao=?)
)
'''

# Esta é a sentença de inclusão de uma tupla na tabela conteudo
sql_insert_conteudo = 'INSERT INTO conteudo VALUES (NULL, ?)'

# Esta é a sentença de inclusão de uma tupla na tabela genero
sql_insert_conteudo_genero = '''INSERT INTO conteudo_genero VALUES (
?,
(SELECT id FROM genero WHERE descricao=?)
)'''

# Escreva sua resposta da Questão 3 NESTA célula, nas linhas abaixo
#variável a ser usada como nome do arquivo de banco de dados
liteflix_bd = 'liteflix.db'
#criando conexão com arquivo
con = sql.connect(liteflix_bd)
 # criando cursor para percorrer o arquivo
cur = con.cursor()



for i in generos:
    #percorrendo cada valor em tupla generos e inserindo na tabela generos
    cur.execute(sql_insert_genero,i)
print('Registros  inseridos na tabela genero.')
for i in conteudos:
    cur.execute(sql_insert_conteudo,[i[0]])
    #percorrendo cada valor em tupla conteudos e inserindo ma tabela conteudo
    id = cur.lastrowid 
    for valor_gen in i[1]:
        cur.execute('INSERT INTO conteudo_genero  VALUES ( ? , (SELECT id FROM genero WHERE descricao = ?))', [id,valor_gen])
print('Registros inseridos na tabela conteudo')

#gravando alterações
con.commit()
#fechando documento
con.close()

Registros  inseridos na tabela genero.
Registros inseridos na tabela conteudo

### Questão 4
Preencha as tabelas `cliente` e `cliente_conteudo` do banco de dados `liteflix.bd` a partir da lista de clientes colocada na célula seguinte, utilizando os comandos também colocados na célula seguinte.

Na célula seguinte também existe a lista de consumos dos clientes, ou seja, dos conteúdos que foram assistidos pelos clientes,
que ficam armazenados na tabela `cliente_conteudo`.

In [4]:
# Estes são clientes e conteúdos consumidos a serem inseridos

# Clientes serem inseridos na tabela cliente
clientes = [
    ('Napoleão Bonaparte', '86366957088', 'Inadimplente'),
    ('Issac Newton', '93686267071', 'Ativo'),
    ('Shun Tsu', '15660030084', 'Bloqueado'),
    ('Platão', '66304298005', 'Terminado'),
]

# Conteúdos a serem inseridos na tabela conteudo e seus respectivos gêneros.
cliente_conteudos = [
    ('Napoleão Bonaparte', 'Invocação do mal 3', '2021-01-30', 0, None),
    ('Napoleão Bonaparte', 'Liga da Justiça', '2021-03-12', 1, 5),
    ('Platão', 'Lupin', '2021-02-28', 1, 9),
    ('Issac Newton', 'O primeiro homem', '2021-01-06', 1, 8),
    ('Shun Tsu', 'Invocação do mal 3', '2021-05-23', 0, None),
    ('Platão', 'Liga da Justiça', '2021-05-17', 0, None),
    ('Shun Tsu', 'Lupin', '2021-02-12', 1, 9),
]

# Esta é a sentença de inclusão de uma tupla na tabela cliente
sql_insert_cliente = '''INSERT INTO cliente VALUES (
NULL,
?,
?,
(SELECT id FROM situacao WHERE descricao=?)
)'''

# Esta é a sentença de inclusão de uma tupla na tabela cliente_conteudo
sql_insert_cliente_conteudo = '''INSERT INTO cliente_conteudo VALUES (
(SELECT id FROM cliente WHERE nome=?),
(SELECT id FROM conteudo WHERE titulo=?),
?,
?,
?
)'''

# Escreva sua resposta da Questão 4 NESTA célula, nas linhas abaixo
liteflix_bd = 'liteflix.db'
#criando variavel para conetar com arquivo
con = sql.connect(liteflix_bd)
#criando cursor para percorrer o arquivo
cur = con.cursor()

for i in clientes:
    #inserindo valores da tupla clientes na tabela cliente
    cur.execute(sql_insert_cliente,i)
print('Registro inseridos na tabela cliente.')
#inserindo valores da tupla conteudos na tabela cliente conteudo
for i in cliente_conteudos:
    cur.execute(sql_insert_cliente_conteudo,i)
print('Registro inseridos na tabela cliente conteudo.')
#gravando alterações
con.commit()
#fechando documento
con.close()

Registro inseridos na tabela cliente.
Registro inseridos na tabela cliente conteudo.

### Questão 5
Recupere e mostre na tela os filmes assistidos por um dado cliente. A sentença que recupera os conteúdos assistidos por
um dado cliente (**identificado por seu nome**) já está escrita na célula seguinte e deverá ser utilizada para
selecionar os registros.

Selecione os conteúdos consumidos por `Platão` e `Napoleão Bonaparte`.

In [5]:
import sqlite3 as sql
# Esta é a sentença de recuperação dos filmes assistidos por um cliente a partir do seu nome
sql_select_cliente_conteudo = '''SELECT co.titulo, ge.descricao, ci.descricao, cc.avaliacao
FROM conteudo co
JOIN conteudo_genero cg ON cg.id_conteudo=co.id
JOIN genero ge ON ge.id=cg.id_genero
JOIN classificacao_indicativa ci ON ci.id=ge.id_classificacao_indicativa
JOIN cliente_conteudo cc ON cc.id_conteudo=co.id
JOIN cliente cl ON cl.id=cc.id_cliente
WHERE cl.nome=?
'''

# Escreva sua resposta da Questão 5 NESTA célula, nas linhas abaixo
#variável a ser usada como nome do arquivo de banco de dados
liteflix_bd = 'liteflix.db'
#criando conbexão coma arquivo
con = sql.connect(liteflix_bd)
#criando cursor para percorrer arquivo
cur = con.cursor()
clientes = ['Napoleão Bonaparte','Platão']
#criando lista com nomes de clientes neccessarios para fazer buscar de seus consumos
for i in clientes:
    #selecionando clientes 
    cur.execute(sql_select_cliente_conteudo,[i])
    print(f'Filmes assitido por {i}')
    row = cur.fetchone()
    while row:
        print (f'Filme: {str(row[0])}, Genero: { str(row[1]) }, Classificação Indicativa: {str(row[2])} Avaliação: {str(row[3])}')
        row = cur.fetchone()
#gravando alterações         
con.commit()
#fechando documento
con.close()

Filmes assitido por Napoleão Bonaparte
Filme: Invocação do mal 3, Genero: Horror, Classificação Indicativa: Adulto Avaliação: None
Filme: Liga da Justiça, Genero: Ação adolescente, Classificação Indicativa: Censura 16 anos Avaliação: 5
Filme: Liga da Justiça, Genero: Ficção científica, Classificação Indicativa: Censura 14 anos Avaliação: 5
Filmes assitido por Platão
Filme: Lupin, Genero: Aventura adolescente, Classificação Indicativa: Censura 14 anos Avaliação: 9
Filme: Lupin, Genero: Mistério, Classificação Indicativa: Censura 16 anos Avaliação: 9
Filme: Liga da Justiça, Genero: Ação adolescente, Classificação Indicativa: Censura 16 anos Avaliação: None
Filme: Liga da Justiça, Genero: Ficção científica, Classificação Indicativa: Censura 14 anos Avaliação: None